@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

header {
  background-color: #232536;
  padding: 10px 0px;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav a{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 28px;
}

.header-nav button{
    padding: 16px 48px;
    background-color:#FFFFFF;
    color: #232536;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border: none;
}
